<%- include("partials/header"); %>
<h1>Home</h1>

<div class="mb"><a class="anchorTag01" href="/new">Create a new item</a></div>
<div class="mb"><a class="anchorTag01" href="/find-item">Find an item</a></div>
<div class="mb"><a class="anchorTag01" href="/allitems">View all items</a></div>

<%- include("partials/footer"); %>
